# 第一章

## 1. 判断下列变量命名方式的正确与否

In [ ]:
1stock = '股票的价格' 
#错误，不能以数字开头作为变量名
a_ = 535  
#正确的
_ = 12.5  
#正确的
_$ = 453.4   
#错误，不可以使用‘$’作为变量名的一部分
__ = '股票的价格'  
#正确的
123 = 600519  
#错误，不可以对一个整数赋值
a1b = 600519  
#正确的

## 2. 判断下列变量命名方式的正确与否

选择5个股票的名称形成列表

1、计算列表的长度并输出

2、 列表中追加元素（追加一个股票），并输出添加后的列表

3、请在列表的第1个位置插入元素（插入一个股票名称）,并输出添加后的列表

4、请删除列表中的元素（删除最后一个股票名称）,并输出添加后的列表

5、请删除列表中的第4个元素，并输出删除的元素和删除元素后的列表

6、请删除列表中的第1至3个元素，并输出删除元素后的列表

7、请将列表所有得元素反转，并输出反转后的列表

In [ ]:
import pandas as pd

stk = pd.read_csv('STK_HK_InstitutionInfo.csv')
#资料来源：CSMAR 港股股票基本信息表
stk_name = list(stk.iloc[0:5,2])
print(stk_name)
print(len(stk_name))

In [ ]:
insert = list(stk.iloc[5:6,2])
stk_name.insert(0,insert[0])
s1=stk_name
print(stk_name)

In [ ]:
dele = str(stk_name[-1])
stk_name.remove(dele)
print(stk_name)
print(dele)

In [ ]:
dele4 = str(stk_name[3])
stk_name.remove(dele4)
print(stk_name)
print(dele4)

In [ ]:
for i in range(3):
    stk_name.pop(0)

print(stk_name)

In [ ]:
s1.reverse()
print(s1)

## 3. 创建股票信息字典

需包含 3支股票名称、代码、某一天的开盘价

In [ ]:
import pandas as pd
trade = pd.read_csv('TRD_Dalyr.csv')
name = pd.read_csv('TRD_Co.csv')
data = pd.merge(trade,name,on='Stkcd',how='inner')

id = list(data.loc[:,'Stkcd'])
nm = list(data.loc[:,'Conme'])
op = list(data.loc[:,'Opnprc'])
dt = list(data.loc[:,'Trddt'])
info = zip(nm,dt,op)

dic= dict(zip(id,info))
print(dic)

## 4. 定义一个函数来计算单利债券本利和

In [ ]:
def simple(i,n,pv):
    return(pv*(1+i)*n)

## 5. 定义一个股票类

定义股票数据中，股票的开盘价、收盘价、股票名称、代码为类属性

# numpy

1.创建一个长度为10的分布在[0,1)一维随机矩阵,然后让第5个元素等于1

 2.创建一个元素为从20到80的长度为10的ndarray对象

3.创建一个符合正太分布的长度为10的数组并反转这个数组

4.随机创建一个4维矩阵，并得到最后两维的和。

5.创建一个999999长度的随机数组，使用两种方法对其求三次方，并比较所用时间

6.创建一个 5x5 的二维数组，并设置值 1, 2, 3, 4 落在其对角线下方

In [ ]:
import numpy as np
import random
x=np.ndarray([1,10])
for i in range(10):
    x[i] = random.randint(0,1)

x[5]=1
print(x)

In [52]:
from numpy import *

a=random.randint(20,80,(1,10))
print(a)

In [ ]:
from numpy import *

# 创建 randn(size) 服从 X~N(0,1) 的正态分布随机数组
a=random.randn(1,10)
print(a)

# matplotlib

1.安装baostock包，了解query_history_k_data函数的各项参数，并了解得到数据的各个字段含义.

2.画出茅台股票在2022年3月1日至2020年3月31日的开盘走势图

3.画出茅台、比亚迪、工商银行、华泰证券在2021年12月1日至22年1月31日的每日涨跌幅波动图，4张图以2X2的方式排列

# Pandas

#### 1. 用pandas读取 stockprices_0.csv 文件，将第一列作为索引。

####  2. 请将股票代码为“600011”的2020年全年股价构造成一个Series，并计算全年股价均值。

####  3. 请提取代码为“600012”和“600020”的两列股票价格，对600012股价升序排列，同时，对600020的股价降序排列。

#### 4. 请在原数据集中，做以下几个操作：

（1）查询2020-04-01这一天大家的股价；

（2）截取整个5月份的股价列表；

（3）截取2020年600011股价超过4.5元时，且600030股价低于25元时的数据集；

（4）截取第50行-100行的数据集。

你还可以尝试各种不同的切片，例如在某个月份中，股价低于某个价位时的数据，可以自行尝试。